<%= form_tag(results_mentors_path, method: 'get', class: 'form-group') do %>
  <div class="form-check form-check-inline">
    <%= collection_check_boxes :tags, :ids, Tag.all, :id, :name, class: 'form-check-input' %>
  </div>
  <%= submit_tag("Filter", class: "btn btn-primary") %>
<% end %>


<% @mentors.each do |mentor| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= mentor.username %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <% mentor.tags.each do |tag| %>
        <p class="card-text"><%= tag.name %></p>
      <% end %>
      <%= link_to 'Book', mentor.booking_url, class: "card-link" %>
    </div>
  </div>
<% end %>