<h1 class="display-2 pb-2 title">
  Find your mentor
</h1>
<div class="row mt-5">
  <div class="col-md-2 col-sm-6">
    <%= form_tag(results_mentors_path, method: 'get') do %>
      <div class="form-group row">
        <p class="form-title col-form-label pt-0">Filter by speciality</p>
        <div class="col-md-10">
          <%= collection_check_boxes :tags, :ids, Tag.all, :id, :name do |c| %>
            <div class="form-checks form-check-inline">
              <div class="form-check-input">
                <%= c.check_box(class: "check_box") %>
              </div>
              <div class="form-check-label px-1">
                <%= c.label(class: "check_box")  %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <%= submit_tag("Filter", class: "btn btn-primary") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="col-md-8 offset-md-2">
    <div class="row">
      <% @mentors.each do |mentor| %>
        <div class="col-sm-6 col-md-4">
          <div class="card text-white bg-dark border-dark mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= mentor.username %></h5>
              <h6 class="card-subtitle mb-2 text-white-50"><%= mentor.job_role %></h6>
              <% mentor.tags.each do |tag| %>
                <span class="card-text"><%= tag.name %></span>
              <% end %>
              <%= link_to 'Book a session', mentor.booking_url, class: "card-link d-block mt-1" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>