<div class="col-md-6 offset-md-3">
  <h2 class="display-3 pb-2 title">Log In</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>


    <div class="actions">
      <%= f.submit "Log In", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "mentors/shared/links" %>
</div>
